{%extends "base.html" %}
{%block content%}
<div class="about-section">
	<h1>About Us</h1>
	<p>We are four students from the Genomics course of the Univeristy of Bologna</p>
	<p>This website was realized to accomplish Andrea Giovanni Nuzzolese's project for the Advanced Programming course year 2022/2023</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
	<div class="column">
	  <div class="card">
		<div class="container">
		  <h2>Isaac Ambrogetti</h2>
		  <p>enrollment year: 2021</p>
		  <p>isaac.ambrogetti@studio.unibo.it</p>		  
		  <p><a href="mailto:isaac.ambrogetti@studio.unibo.it"><button class="button">Contact</button></a></p>
		</div>
	  </div>
	</div>
  
	<div class="column">
	  <div class="card">
		<div class="container">
		  <h2>Sofia Errigo</h2>
		  <p>enrollment year: 2021</p>
		  <p>sofia.errigo2@studio.unibo.it</p>
		  <p><a href="mailto:sofia.errigo2@studio.unibo.it"><button class="button">Contact</button></a></p>
		</div>
	  </div>
	</div>
  
	<div class="column">
	  <div class="card">
		<div class="container">
		  <h2>Guglielmo Gallo</h2>
		  <p>enrollment year: 2021</p>
		  <p>guglielmo.gallo@studio.unibo.it</p>
		  <p><a href="mailto:guglielmo.gallo@studio.unibo.it"><button class="button">Contact</button></a></p>
		</div>
	  </div>
	</div>

	<div class="column">
		<div class="card">
		  <div class="container">
			<h2>Emilia Giglio</h2>
			<p>enrollment year: 2021</p>
			<p>emilia.giglio@studio.unibo.it</p>
			<p><a href="mailto:emilia.giglio@studio.unibo.it"><button class="button">Contact</button></a></p>
		  </div>
		</div>
	  </div>
  </div>
{%endblock%}